BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
#############
# RESET
#############
LOCATE COMP "rst" SITE "L14" ;
IOBUF PORT "rst" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#############
# LEDS
#############
LOCATE COMP "led_g" SITE "A11" ;
IOBUF PORT "led_g" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE ;
LOCATE COMP "led_r" SITE "B11" ;
IOBUF PORT "led_r" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE ;
LOCATE COMP "led_b" SITE "A12" ;
IOBUF PORT "led_b" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE ;
#############
# FX2LP SLAVE FIFO INTERFACE (ICESUGAR PRO)
#  - Connect these nets to the FX2LP pins as commented.
#  - Data bus:
#       fx2_PB0..PB7 = FX2 PB0..PB7 = FD0..FD7
#       fx2_PD0..PD7 = FX2 PD0..PD7 = FD8..FD15
#  - Control / flags:
#       fx2_IFCLK        = FX2 IFCLK (48 MHz)
#       fx2_CTL0_FLAGA   = FX2 CTL0 / FLAGA (EP2 empty)
#       fx2_PA7_FLAGD    = FX2 PA7 / FLAGD (EP6 full)
#       fx2_PA4_FIFOADR0 = FX2 PA4 / FIFOADR0
#       fx2_PA5_FIFOADR1 = FX2 PA5 / FIFOADR1
#       fx2_PA2_SLOE     = FX2 PA2 / SLOE#
#       fx2_RDY0_SLRD    = FX2 RDY0 / SLRD#
#       fx2_RDY1_SLWR    = FX2 RDY1 / SLWR#
#       fx2_PA6_PKTEND   = FX2 PA6 / PKTEND#
#############
#-----------------------------
# IFCLK (48 MHz from FX2)
#-----------------------------
LOCATE COMP "fx2_IFCLK" SITE "A7" ;# FX2 IFCLK (48 MHz to FPGA from FX2LP)
IOBUF PORT "fx2_IFCLK" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
FREQUENCY PORT "fx2_IFCLK" 48.000000 MHz ;
#-----------------------------
# DATA BUS 8-bit: PB0..PB7 = FD0..FD7
#-----------------------------
LOCATE COMP "fx2_PB0" SITE "B2" ;# FX2 PB0 / FD0
IOBUF PORT "fx2_PB0" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PB1" SITE "A2" ;# FX2 PB1 / FD1
IOBUF PORT "fx2_PB1" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PB2" SITE "A3" ;# FX2 PB2 / FD2
IOBUF PORT "fx2_PB2" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PB3" SITE "A4" ;# FX2 PB3 / FD3
IOBUF PORT "fx2_PB3" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PB4" SITE "A5" ;# FX2 PB4 / FD4
IOBUF PORT "fx2_PB4" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PB5" SITE "A6" ;# FX2 PB5 / FD5
IOBUF PORT "fx2_PB5" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PB6" SITE "F2" ;# FX2 PB6 / FD6
IOBUF PORT "fx2_PB6" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PB7" SITE "A8" ;# FX2 PB7 / FD7
IOBUF PORT "fx2_PB7" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
#-----------------------------
# DATA BUS 8-bit: PD0..PD7 = FD8..FD15
#-----------------------------
LOCATE COMP "fx2_PD0" SITE "B8" ;# FX2 PD0 / FD8
IOBUF PORT "fx2_PD0" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PD1" SITE "B7" ;# FX2 PD1 / FD9
IOBUF PORT "fx2_PD1" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PD2" SITE "B6" ;# FX2 PD2 / FD10
IOBUF PORT "fx2_PD2" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PD3" SITE "B5" ;# FX2 PD3 / FD11
IOBUF PORT "fx2_PD3" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PD4" SITE "B4" ;# FX2 PD4 / FD12
IOBUF PORT "fx2_PD4" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PD5" SITE "B3" ;# FX2 PD5 / FD13
IOBUF PORT "fx2_PD5" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PD6" SITE "B1" ;# FX2 PD6 / FD14
IOBUF PORT "fx2_PD6" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "fx2_PD7" SITE "C1" ;# FX2 PD7 / FD15
IOBUF PORT "fx2_PD7" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
#-----------------------------
# FLAG PINS
#-----------------------------
LOCATE COMP "fx2_CTL0_FLAGA" SITE "P7" ;# FX2 CTL0/FLAGA (EP2 empty) - 56pin: CTL0=FLAGA multiplexed
IOBUF PORT "fx2_CTL0_FLAGA" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "fx2_PA7_FLAGD" SITE "R6" ;# FX2 PA7 / FLAGD (EP6 full)
IOBUF PORT "fx2_PA7_FLAGD" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
#-----------------------------
# FIFO ADDRESS LINES (FIFOADR[1:0])
#   00 = EP2, 10 = EP6 (typical)
#-----------------------------
LOCATE COMP "fx2_PA4_FIFOADR0" SITE "T4" ;# FX2 PA4 / FIFOADR0
IOBUF PORT "fx2_PA4_FIFOADR0" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE ;
LOCATE COMP "fx2_PA5_FIFOADR1" SITE "T3" ;# FX2 PA5 / FIFOADR1
IOBUF PORT "fx2_PA5_FIFOADR1" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE ;
#-----------------------------
# SLAVE FIFO CONTROL STROBES
#-----------------------------
LOCATE COMP "fx2_PA2_SLOE" SITE "T6" ;# FX2 PA2 / SLOE#  (Slave Output Enable)
IOBUF PORT "fx2_PA2_SLOE" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE ;
LOCATE COMP "fx2_RDY0_SLRD" SITE "R5" ;# FX2 RDY0 / SLRD# (Slave FIFO Read)
IOBUF PORT "fx2_RDY0_SLRD" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE ;
LOCATE COMP "fx2_RDY1_SLWR" SITE "R4" ;# FX2 RDY1 / SLWR# (Slave FIFO Write)
IOBUF PORT "fx2_RDY1_SLWR" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE ;
LOCATE COMP "fx2_PA6_PKTEND" SITE "R3" ;# FX2 PA6 / PKTEND# (packet commit)
IOBUF PORT "fx2_PA6_PKTEND" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE ;